﻿@model AxelApen.Models.viewModel.VehiculoViewModel
@{
    ViewBag.Title = "Editar Vehiculo";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Editar", "Vehiculo", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div>
                @Html.Label("MATRICULA")
                @Html.TextBoxFor(d => d.matricula, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.matricula, "", new { @class = "red" })

            </div>

            <div>
                @Html.Label("TIPO VEHICULO")
                @Html.TextBoxFor(d => d.tipoVehiculo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.tipoVehiculo, "", new { @class = "red" })

            </div>

            <div>
                @Html.Label("MODELO")
                @Html.TextBoxFor(d => d.modelo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.modelo, "", new { @class = "red" })

            </div>

            <div>
                @Html.Label("MARCA")
                @Html.TextBoxFor(d => d.marca, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.marca, "", new { @class = "red" })

            </div>

            <div>
                @Html.Label("LINEA")
                @Html.TextBoxFor(d => d.linea, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.linea, "", new { @class = "red" })

            </div>

            <div>
                @Html.Label("PROPIETARIO")
                @Html.TextBoxFor(d => d.propietario, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.propietario, "", new { @class = "red" })

            </div>

            <div>
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>

        </div>

    </div>

}