﻿@model List<AxelApen.Models.viewModel.Vehiculo>
@{
    ViewBag.Title = "Vehiculo";
}

<h2>@ViewBag.Title</h2>

<div style="text-align:right; padding:5px">

    <a href="~/Vehiculo/Nuevo" class="btn btn-primary">Nuevo</a>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>MATRICULA</th>
                <th>TIPO VEHICULO</th>
                <th>MODELO</th>
                <th>MARCA</th>
                <th>LINEA</th>
                <th>PROPIETARIO</th>
                <th>OPCIONES</th>
            </tr>
@foreach(var vehiculo in Model)
{
    <tr>
        <td>@vehiculo.matricula</td>
        <td>@vehiculo.tipoVehiculo</td>
        <td>@vehiculo.modelo</td>
        <td>@vehiculo.marca</td>
        <td>@vehiculo.linea</td>
        <td>@vehiculo.propietario</td>
        <td>
            <a href="~/Vehiculo/Editar/@vehiculo.matricula" class="btn btn-default" >Editar</a>
            <a href="~/Vehiculo/Eliminar/@vehiculo.matricula" class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
}

        </table>

    </div>

</div>


